div(class="Card")		
		h2(class="Card-name") Wolverine
		img(class="Card-image" src="./public/img/wolverine.jpg", alt="wolverine")
		div(class="Card-description") Wolverine es muy poderoso
		div(class="Card-attack") 500puntos de ataque