<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Marvel Card Battle
	body
		label Ingresa tu nombre
		input.Signin-name-input(type="text", id="firstName", name="firstName", tabindex=1, placeholder="aguja, agil")
		button.Signin-button(tabindex=2) Ingresar
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js")
		script(src="public/util/routes.js")


	